
### replication
server-id        = {{ mysql_server_id }}
report-host      = {{ mysql_hostname}}

relay-log        = mysqld-relay-bin
# read-only        = 1
log_slave_updates   = 1


# # replication crush recovery
# version dependent
# relay_log_info_repository = TABLE
# relay_log_recovery = ON
# sync_binlog=1

expire_logs_days      = 1
log-bin               = mysql-bin
binlog-format         = ROW



# full/basic

{% for db in mysql_repl_db %}
binlog-do-db = {{ db.name }}
replicate-do-db = {{ db.name }}
{% endfor %}


#### /replication
